{
    "CN": "system:node:{{ item }}",
    "key": {
      "algo": "rsa",
      "size": 2048
    },
    "names": [
      {
        "C": "X",
        "L": "X",
        "O": "system:nodes",
        "OU": "k8s-lab",
        "ST": "X"
      }
    ]
  }